<div class="main">
  <div class="container">
    <h1>Hello my name is Ian</h1>
    <h2>MFS Partnership Specialist//Rails Learner//Passionate about Data</h2>
    <p>I make Rails apps.</p>
    <a href="mailto:ianlud@hotmail.com"><%= image_tag("mail.png", width:'50px') %></a>
    <a class="twitter-follow-button" href="https://twitter.com/iceyian" data-size="large"><%= image_tag("twitter.png", width:'50px') %></a>

    <a href="https://instagram.com/iceyian"><%= image_tag("instagram.png", width:'50px') %></a>
    <p>&copy 2018</p>
  </div>
</div>
