// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* General */
@font-face {font-family: 'Kungfont-Regular';
src: url('Kungfont-Regular');
}
html, body {
  height: 100%;
  margin: 0;
}

body {
  background-image: url(asset-path('ev-295467-unsplash.jpg'));
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Kungfont-Regular', sans-serif;
  font-stretch: extra-condensed;
}

.container {
  margin: 0 auto;
  width: 900px;
}

/* Main */
.main {
  color: #fff;
  position: relative;
  top: 100px;
  text-align: center;
}

.main h1 {
  font-size: 80px;
  font-weight: 300;
}

.main p {
  font-size: 30px;
}

@media screen and (min-width: 301px) and (max-width: 800px) {
    body {
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .container {
        width: 100%;
    }
}
