// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* General */
@font-face {font-family: 'Kungfont-Regular';
src: url('Shojumaru-Regular');
}
// html, body {
//   height: 100%;
//   margin: 0;
// }

html {
  background-image: url("/brxxto-350449-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Kungfont-Regular', sans-serif;
  font-stretch: extra-condensed;
}

.container {
  margin: 0 auto;
  width: 900px;
}

/* Main */
.main {
  color: #fff;
  position: relative;
  top: 100px;
  text-align: center;
}

.main h1 {
  font-size: 80px;
  font-weight: 300;
}

.main p {
  font-size: 30px;
}

@media screen and (min-width: 1079px) {
    body {
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .container {
        width: 100%;
    }
}
@media screen and (max-width: 1079px)  {
    body {
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .container {
        margin: 1% 10% 15% 25%;
        width: 50%;
        height: 50%;
    }
}
